body {
  font-size: 20px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
}

/* header */

.header {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin: 0 25px;
  padding: 92px 24px 93px;
  gap: 50px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__links-list-item {
  margin-left: 31px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item:first-child {
  margin-left: 0;
}

.header__logo {
  max-width: 136px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  line-height: 135%;
  margin-left: auto;
  margin-right: 36px;
}

/* cover */

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  margin-bottom: 180px;
}

.cover__title {
  position: relative;
  font-size: 100px;
  margin-bottom: 135px;
  letter-spacing: 0.3em;
  line-height: 1.15;
  text-transform: uppercase;
  z-index: 1;
}

.aligned-text_spacing {
  letter-spacing: 0.6em;
}

.aligned-text {
  display: block;
  margin-top: 20px;
  line-height: 1;
}

.aligned-text_nospacing {
  letter-spacing: 0;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;
  gap: 79px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 0.85em;
}

.bet-button {
  font-family: inherit;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid currentColor;
  padding: 12px 31px;
  cursor: pointer;
}

/* lots */

.lots {
  margin-bottom: 181px;
  padding: 0 24px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
  font-family: Raleway, sans-serif;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
  flex-grow: 1;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  flex-grow: 1;
  min-height: 480px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  padding: 51px 40px 48px;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  z-index: 2;
  font-size: 20px;
  line-height: 120%;
  text-align: start;
}


.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* about */

.about {
  padding-left: 71px;
  margin-bottom: 169px;
}

.about__column {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 8px 72px;
  margin-right: 24px;
}

.about__logo {
  background-color: #000;
  border-radius: 50%;
  height: 240px;
  width: 240px;
  padding: 62px 44px;
  display: flex;
}

.about__title {
  text-transform: uppercase;
  align-self: center;
  font-size: 40px;
}

.about__text {
  grid-column: 2 / span 2;
  line-height: 125%;
  letter-spacing: 0.01em;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 88px;
  font-size: 18px;
}

.footer__address {
  line-height: 135%;
  letter-spacing: 0.01em;
}

.footer__menu {
  text-align: center;
  line-height: 21px;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
}

.footer__menu-link_active {
  text-decoration: none;
}